form{
    background-color: white;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 50px;
}

input{
    margin: 15px;
    background-color: lightgray;
    width: 300px;
    height: 30px;
}

button{
    width: 300px;
    height: 30px;
    background-color: rgb(52, 173, 52);
    margin-top: 20px;
}